:root {
  line-height: 150%;
  color: black;
}

body {
  background-image: url(assets/imagem\ desfocada.jpg );
}

#page {
   box-sizing: border-box;
  width: 1080px;
  padding: 24px;
  background-color: cadetblue;
  border-radius: 24px;
  margin:48px auto 28px;
  
}
p {
  font-style: italic;
}
img {
  border-radius: 16px; 
}
h1 {
  line-height: 150%;
  font-size: 40px;
  text-align: center;
}
h2 {
  font-size: 32px;
}
h1, h2 {
  color: maroon;
}
h3 {
  font-size: 30px;
  color: maroon;
}
h4, h5, h6 {
  font-size: 24px;
}
p {
  font-size: 22px;
}
footer {
  color: blue;
  text-align: center;
  padding-bottom: 48px;
  font-size: 23px;
}